.container{
    background: orange;
    max-width: 800px;
    margin: 0 auto ;
}
.header{
    background: purple;
    height: 60px;
}
.wrapper{
    background: blue;
    display: flex;
}
.menu{
    background: green;
    width: 30%;
}
.contenido{
    background: aqua;
    width: 70%;
}
.footer{
    background: pink;
    clear: both;
}